<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240680344606-3g3nn2ghne1j11315sj1a9hue84t05pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240680344606-3g3nn2ghne1j11315sj1a9hue84t05pc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>240680344606-urterv119uatldbjlm9lbs8u88vsl12k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzALaX6-CEXJGAIF9H9SeC_hVbmwTVXaM</string>
	<key>GCM_SENDER_ID</key>
	<string>240680344606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Ienergybook</string>
	<key>PROJECT_ID</key>
	<string>ienergybook-d07fb</string>
	<key>STORAGE_BUCKET</key>
	<string>ienergybook-d07fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240680344606:ios:5149d0909742fa5fc1620f</string>
	<key>DATABASE_URL</key>
	<string>https://ienergybook-d07fb.firebaseio.com</string>
</dict>
</plist>